{% extends 'base.html' %}

{% block content %}
    <title>Contact Service</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #009688;
            text-align: center;
            margin-bottom: 20px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Contact {{ service_title }}</h1>
        
        <p>To make an appointment, please contact the service provider using one of the following methods:</p>
        
        <ul>
            <li>Email: {{ service.email }}</li>
            <li>Phone: {{ service.phone_number }}</li>
            <li>WhatsApp: {{ service.whatsapp_number }}</li>
        </ul>
    </div>
</body>
</html>
{% endblock %}
