{% extends 'base.html' %}

{% block title %}My Store{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">My Store</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="mt-4 px-8 py-4 bg-teal-200 text-teal-800">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <a href="{% url 'add_service' %}" class="mt-6 inline-block py-4 px-8 bg-teal-500 text-white">Add Service</a>

    <h2 class="mt-6 text-xl">My Services</h2>

    <div class="flex flex-wrap -mx-4">
        {% for service in services %}
            <div class="w-1/3 px-4 mb-8">
                <div class="p-4 bg-gray-100 rounded-lg shadow-md">
                    <a href="{% url 'edit_service' service.id %}">
                        {% if service.image %}
                            <div class="mb-2">
                                <img src="{{ service.image.url }}" alt="Image of {{ service.title }}" class="w-full h-40 object-cover rounded-md">
                            </div>
                        {% endif %}

                        <h2 class="text-xl font-bold">{{ service.title }}</h2>
                        <hr class="my-3">
                        <p><strong>Status: </strong>{{ service.get_status_display }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if services|length == 0 %}
        <p class="mt-4 py-4 px-8 bg-gray-200">You don't have any Services yet...</p>
    {% endif %}
</div>
{% endblock %}
