{% extends 'base.html' %}

{% block title %}Confirm Vendor Application{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white rounded-xl overflow-hidden shadow-md p-6">
    <h1 class="text-2xl font-bold mb-4">Confirm Vendor Application</h1>
    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="w-full py-2 px-4 bg-teal-600 text-white font-semibold rounded-xl hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-600 focus:ring-opacity-50">Submit</button>
    </form>
</div>
{% endblock %}