{% extends 'base.html' %}

{% block title %}{% firstof user.get_full_name user.username %}{% endblock %}

{% block content %}
<h1 class="text-2xl">{% firstof user.get_full_name user.username %}</h1>

<div class="flex flex-wrap">
    {% for service in services %}
    <div class="service w-1/3 p-2">
        <div class="p-4 bg-gray-100 ">
            <a href="{% url 'service_detail' service.category.slug service.slug %}">
                {% if service.image %}
                <div class="image mb-2">
                    <img src="{{ service.image.url }}" alt="Image of {{ service.title }}">
                </div>
                {% endif %}
                <h2 class="text-xl">{{ service.title }}</h2>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
